.env
.env.*
!.env.example

/data/**
!/data/**/
!/data/**/.gitkeep

*.[fF][iI][tT]
*.[tT][cC][xX]
*.[gG][pP][xX]
*.[cC][sS][vV]
*.[xX][lL][sS][xX]
*.[xX][lL][sS]
*.[pP][dD][fF]
*.[zZ][iI][pP]
*.[dD][cC][mM]

__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/
backend/instance/

.DS_Store
Thumbs.db
.vscode/
.idea/
